<%- include('head') %> 

<%- include('header') %> 

    <main class="bg-img auth-commun">
        <!-- <h1> ajoutez un événement </h1>  -->
        <% if (locals.message) { %>
            <div class="msg-alerte"><%=locals.message%> </div>
        <% } %>

        <form class="editForm" action="/edit/event-update" method="POST">
            
            <h1 class="titleForm"> Modifier l'événement</h1>
            <div class="groupe1">
                <input type="hidden" name="id" value= "<%= event.id %>"/>
                <label class = "editForm-label" for="titre">thème</label>
                <input name="titre" id="editForm-theme" placeholder="le thème de la réunion sera..."><%= event.theme %></input>
            </div>
            <div class="groupe2">
                <label class = "editForm-label" for="concept">détails</label>
                <textarea name="concept" id="editForm-details" placeholder="le thème de la rencontre "><%= event.details %></textarea>
            </div>
            <div class=" groupe4">
                <button type="submit" class="btn-publier">valider</button>
                <a href="/edit/all-events" class="btn-publier2">annuler</a>
            </div>

        </form>
    </main>


<%- include('footer') %> 
